:root {
    --heading-font: 'Montserrat';
    --paragraph-font: 'Gowun Batang';
    --default-font: Arial, Helvetica, sans-serif;

    --primary-color: #FF715B;
    --secondary-color: #1EA896;
    --accent1-color: #4C5454;
    --accent2-color: #523F38;
    --base-color: #FFFFFF;
    --divider-color: RGBA(0, 0, 0, 0.1);

}

/* ================= PRESETS OR DEFAULTS ================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ================= BODY ================= */

body,
html {

    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    height: 100%;
    margin: 0;
    padding: 0;

}

/* ================= HEADER ================= */


h1 {
    font-family: var(--heading-font);
    text-align: center;
    color: black;
}

h2 {
    border: 2px solid #ccc;
    font-family: var(--heading-font);
    margin: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 5px;
}

header {


    color: #fff;
    padding: 0;
    width: 100%;
}


p {
    font-family: var(--paragraph-font);
}

/* ================= CONTAINER ================= */

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

}


/* ================= NAVIGATION ================= */


div.nav-links-wrapper {
    align-content: center;
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;

}

.active::after {

    content: '📌';
    display: block;
    margin-top: -20px;
    margin-left: -83px;

}

nav.navlinks2 {
    justify-content: center;
    margin: 0 10px;
}

nav.navlinks2 li {
    text-align: center;
    padding: 0;
    margin: 0;

}


nav.navlinks2 ul {

    justify-content: center;
    padding: 0;
}


nav.navlinks2 a {
    display: block;
    padding: 10px 20px;
}

ul,
li {
    display: flex;
    margin: 2px;
    list-style-type: none;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;

}

.navlinks2 li:hover {
    background-color: var(--primary-color);
    /* Change background color on hover */
    transition: background-color 0.3s ease;
}



/* ================= MAIN ================= */
main {
    display: flex;
    flex-direction: column;

    /* flex: 1; */
    background-color: var(--base-color);
    padding: 0;
}

main>p {
    /* flex: 1; */
    padding: 20px;
}

div.layout {
    padding: 20px;
}

div.layout button {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 70px;
    max-width: 50%;

}

div.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.search h3 {
    font-size: medium;
    font-weight: 400;
}

input[type="text"] {
    width: 150px;
    align-self: center;
}


/* ================= SIDE BARS ================= */

.left-sidebar {
    padding: 0.9rem 50px;
    line-height: 1rem;
    width: 200px;
}

.left-sidebar>h2 {
    font-size: medium;
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

.left-sidebar a:hover {

    background-color: var(--primary-color);
    transition: background-color 0.3s ease;

    height: auto;

}


.left-sidebar>ul li {

    margin: 10px auto;


}

.left-sidebar>ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* ================= ASIDE ================= */

aside {
    background-color: var(--accent1-color);
    margin: 0;
    padding: 0;
    flex: 0 0 auto;

}

/* ================= FOOTER ================= */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer.bottom-details {
    background-color: var(--accent2-color);
    color: #fff;
    font-family: var(--default-font);
    margin-top: auto;
    padding: 0;

    width: 100%;

}

footer.left-footer {
    align-items: flex-start;
    justify-content: flex-start;
}

footer.right-footer {
    font-family: var(--default-font);
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;

}

div.horizontal {
    border: 1px solid var(--divider-color);

    height: 50px;
}

/* Responsive adjustments */
@media all and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .nav-links-wrapper {
        flex-direction: column;
    }

    .right-sidebar,
    .left-sidebar {
        width: 100%;
    }
}