/* ================= PRESETS OR DEFAULTS ================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ================= BODY ================= */

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", san-serif;
    margin-top: 10px;



}

#course-iframe {
    border: none;
    height: 50rem;
    width: 100%;
}

.mycourses {
    display: flex;
    flex-direction: column;
}

#current-course-title {
    padding: 10px;
}

#course-dropdown {
    margin: 10px 15px 20px;
}


/* ================= HEADER ================= */

.hero {
    display: flex;
    align-content: center;
    justify-content: center;
    /* background-color: #bed; */

}

.hero img {


    /* border: 2px solid #764a4a; */
    height: auto;
    box-shadow: 0px 0px 2px #888;
    margin: 10px 15px;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin: 0 auto;
    max-width: 80vw;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

figcaption {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

header {
    align-content: center;
    /*   background-color: #006eb6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    width: 100%;

}

.active::after {

    content: '📌';
    display: block;
    margin-top: -25px;
    margin-left: -25px;

}

header h1 {
    margin: auto 0;
    color: #000;

}


/* ================= NAVIGATION ================= */


nav.top-navlinks {
    align-content: center;
    /* background-color: #bed; */
    display: flex;
    justify-content: center;


}

#menu {
    /* hide the hamburger button in wide-screen view */
    display: none;
}

nav.top-navlinks ul {
    display: flex;
    list-style-type: none;

    border-bottom: 1px dotted #000;
    box-shadow: 0px 0px 4px #888;
    margin-top: 10px;
    padding: 10px 0px;


}

nav.top-navlinks ul li {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 0 50px;
    border: 1px solid #000;
    /* border: 1px solid #777; */
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #006eb6;
    margin: 10px;

    flex: 1;
}


nav.top-navlinks ul li a {

    text-decoration: none;
    color: #fff;
    background-color: #931621ff;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    transition: width 2s, height 2s, transform 2s;
    margin: 0 auto;
    padding: 0 50px;
    flex: 1;


}

nav.top-navlinks ul li:hover,
nav.top-navlinks ul li a:hover {
    background-color: #931621ff;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;

}




/* ================= MAIN ================= */


/* .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 65px;
    max-width: 100vw;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;


} */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
}

.courses {
    text-align: center;
}


.course-work ul li,
.courses-taken ul li,
.provinces ul li {
    list-style-type: none;
    padding: 5px;
    margin: 0 5px;
}

.course-work,
.courses-taken,
.provinces {
    background-color: #fff;
    /* border: 1px solid #777; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 4px #888;
    margin: 20px 10px;
    max-width: 100vw;



}

.course-work h3,
.courses-taken h3,
.provinces h3 {
    background-color: #28464bff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.city-title h3 {
    background-color: #28464bff;
    border-top-left-radius: 5px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    text-align: center;
    padding: 10px;
    color: #fff;
}

#city-name {
    background-color: #28464bff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    text-align: center;
    padding: 10px;
    color: #fff;
}


/* ================= SECTION ================= */

.city-title {
    display: flex;
    justify-content: center;
    margin: 10px;

}

.cities-gallery {
    /* Apply gray background for the images in the gallery */
    background-color: #333;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center; */
    padding: 10px;
    gap: 3rem;
    /* create horizonal scrolling for the image */
    overflow: auto;
    white-space: nowrap;
}

.cities-gallery img {
    /* Apply opacity of 80% when not yet hovered with mouse */
    opacity: 0.8;
    /* background-color: #006eb6; */
    /* transform: translateX(10px); */
    transition: opacity 0.3s ease-in;

}

.cities-gallery img:hover {
    /* Remove opacity and scale the city image on hover by 110% */
    opacity: 1;
    transform: translateY(0);
    transform: scale(1.1);

}



#city-image {

    margin: 0 auto;
}


.city-section {
    margin: 3rem auto;
    padding: 1rem;
}

.city-dataBox {
    /* background-color: #006eb6; */
    margin: 2rem auto;

}


nav.course-navlinks ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 8px #888;
    /* background-color: #bed; */
}

nav.course-navlinks ul li {

    padding: 2px 10px;



}

nav.course-navlinks ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
    font-weight: 600;

}

nav.course-navlinks ul li a {

    color: #000;
    padding: 3px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;


}

.provinces {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100vw;

}

.provinces p {
    font-size: small;
    /* background-color: #006eb6; */
    width: 150px;
    text-align: center;
    margin: 10px;
}

.provinces span {
    font-size: large;
}

.provinces>img {
    align-content: center;
    margin: 0 auto;
    padding: 10px 10px;
}

.tourist-spot {
    width: 50%;
    /* background-color: #006eb6; */
    padding-bottom: 10px;
}



.rank {
    padding-top: 10px;
}

#currentyear,
#lastModified {
    font-weight: 200;
    color: #fff;
}

.highlight {
    font-weight: 200;
    color: #fff;
}


/* ================= FOOTER ================= */

footer {

    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    height: 100%;



}

footer img {
    height: auto;
    margin-top: 5px;
}


/* ================= MOBILE VIEW ================= */

@media (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 300px;
        font-size: 0.8rem;
        justify-content: space-between;
        max-width: 100%;
        margin: 10px;


    }

    .page-wrapper {
        max-width: 90vw;
    }

    .provinces {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100vw;
        width: 100%;

    }

    .active::after {

        content: '📌';
        /* wayfinder: marks home tab as active */
        display: block;
        /* margin-top: -50px;
        margin-left: -60px; */
        margin: 0;
        margin-top: -18px;
        margin-left: -80px;

    }

    nav.top-navlinks {

        display: block;
        /* hide the menu by default in mobile view */
        text-align: center;


    }

    nav.top-navlinks ul {

        flex-direction: column;
        margin: 20px;
    }


    nav.top-navlinks ul li {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 10px;

    }

    nav.top-navlinks ul li {
        display: flex;
        align-content: center;
        justify-content: space-around;
        padding: 0 50px;
        border: 1px solid #000;
        /* border: 1px solid #777; */
        border-top-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: #006eb6;
        margin: 10px;

        flex: 1;
    }

    nav.top-navlinks ul li:hover,
    nav.top-navlinks ul li a:hover {
        background-color: #931621ff;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;

    }

    nav.course-navlinks ul li:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;
        font-weight: 600;

    }

    nav.top-navlinks ul li a {
        font-size: 0.9rem;
        background-color: #006eb6;
        margin: 10px;
    }

}

@media (max-width: 600px) {

    #menu {

        background: none;
        color: #000;
        cursor: pointer;
        display: block;
        border: 0;
        font-size: 2rem;
        padding: .2rem 2vw;
        position: absolute;
        right: 15px;
        top: 8px;


    }


    #menu::before {
        /* content: "☰"; */
        content: '\2630';

        /* When menu is closed, display the hamburger icon */

    }

    #menu.open::before {
        content: "X";
        /* When menus is opened, display the 'X' button to close the menu */

    }


    .top-navlinks.open {
        display: block;
        /* display the menu when the hamburger icon is clicked; 
        display block only activates when top-navlinks have the open class*/
    }




    .active::after {

        content: '📌';
        /* wayfinder: marks home tab as active */
        display: block;
        /* margin-top: -50px;
        margin-left: -60px; */
        margin: 0;
        margin-top: -18px;
        margin-left: -60px;

    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hero h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px;
    }

    .hero img {

        margin: 10px 15px;

    }

    nav.top-navlinks {

        display: none;
        /* hide the menu by default in mobile view */
        text-align: center;


    }

    nav.top-navlinks ul {

        flex-direction: column;
        margin: 20px;
    }


    nav.top-navlinks ul li {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 10px;

    }

    nav.top-navlinks ul li {
        display: flex;
        align-content: center;
        justify-content: space-around;
        padding: 0 50px;
        border: 1px solid #000;
        /* border: 1px solid #777; */
        border-top-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: #006eb6;
        margin: 10px;

        flex: 1;
    }

    nav.top-navlinks ul li:hover,
    nav.top-navlinks ul li a:hover {
        background-color: #931621ff;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;

    }

    nav.course-navlinks ul li:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;
        font-weight: 600;

    }

    nav.top-navlinks ul li a {
        font-size: 0.9rem;
        background-color: #006eb6;
        margin: 10px;
    }




    .course-work ul li {
        background-color: #bed;
    }

    .course-work,
    .courses-taken {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: auto;
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
        gap: 10px;

    }



    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #city-image {

        margin: 0 auto;
    }


    footer {
        font-size: 0.8rem;
    }

    #ilo-img {
        width: 150px;
        height: auto;
    }

    .courses-taken ul {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        padding: 10px;
        max-width: 100vw;
    }

    .courses-taken ul li {

        padding: 20px;
    }

    .provinces {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 3rem;
        max-width: 100vw;

    }

    .provinces p {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100vw;

    }

    .dynamic-cities {
        height: 2.8rem;
        max-width: 100vw;

    }

    .city-title {
        display: flex;
        flex-direction: column;
        height: 2.8rem;



    }

    .city-title h3 {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cities-gallery {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100vw;


    }

    #city-name {
        background-color: #28464bff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        text-align: center;
        padding: 10px;
        color: #fff;
    }

    .city-img {
        height: 150px;
        width: 150px;

    }

    .city-dataBox,
    .city-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .city-dataBox img {
        justify-content: center;
        align-content: center;
        align-items: center;
    }

}